a:link {
  text-decoration: none;
  color: #0052CC;
}

a:visited {
  text-decoration: none;
  /* color: #7A869A; */
  color: #0052CC;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  color: #0052CC;
}

/* p {
  margin: 0.5rem;
} */

body {
  font-family: system-ui, sans-serif;
  font-size: 75%;
}
